{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":660,"scrollleft":0,"selection":{"start":{"row":19,"column":12},"end":{"row":19,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":35,"state":"start","mode":"ace/mode/text"}},"timestamp":1565515602188,"hash":"07b387b6c31a6e4733ec57c38997cc26be461960"}