{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":11,"column":0},"end":{"row":12,"column":0},"action":"remove","lines":["cloud-init==19.1",""],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":11,"column":0},"end":{"row":11,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":130,"mode":"ace/mode/text"}},"timestamp":1565729308498,"hash":"535b3a95f031328c456745c6558e6285881c719b"}