{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":11,"column":0},"end":{"row":12,"column":0},"action":"remove","lines":["cloud-init==19.1",""],"id":2}],[{"start":{"row":12,"column":0},"end":{"row":13,"column":0},"action":"remove","lines":["command-not-found==0.3",""],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":12,"column":0},"end":{"row":12,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1565730014914,"hash":"b06398913938b14781cbc1a1d9a8ce67f40940a7"}