{% extends 'base.html' %}

{% block page_title %}Password Reset Page{% endblock %}

{% block page_heading %}Reset Password{% endblock %}

{% block content %}
<from method="post" class="accountform">
    <p>Please enter your email address</p>
    <br>
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
    {{ form.email.errors }}
    
    <p>
        <label for="id_email" class="control-label required-field">Email address:</label>
        {{ form.email }}
        <input type="submit" value="Reset password" />
    </p>
</from>
{% endblock %}