body{
    padding-bottom: 70px;
}

form{
    width: 60%;
    margin: 20px auto;
}

/* login.html*/
#login-btn{
    margin-bottom: 15px;
}

/* base.html*/

.navbar{
    border-radius: 0px;
}

footer {
    padding-top: 10px;
    border-top: 1px solid #ededed;
    color: #9d9d9d;
    background-color: #222;
}



.badge{
    padding-left:  9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}


/* product.html*/
.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
}

.panel {
    border: 0;
}

.panel-display {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.panel-default {
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-description {
    min-height: 40px;
}